/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store

# ignore init.sh
init.sh

# ignore other things: http://roybarber.com/version-controlling-wordpress/
/content/themes/build/.sass-cache/*
