/shared
/local-config.php
/sql-dump-*.sql
/db-sync
/content/upgrade/
.DS_Store

# ignore other things: http://efeqdev.com/website-development/this-is-how-we-version-control-and-deploy-our-wordpress-websites-with-git/
# Remove SASS cache files 
content/themes/build/.sass-cache/*

